footer.sh__footer
    .sh__footer-wrp
        h2.sh__footer--text Built with love by&nbsp;
            a(href="https://github.com/Kasuken" class="sh__footer--user")
                span Kasuken
                picture(class="sh__footer--user-icon")
                    source(srcset="images/kasuken.jpg?as=avif&width=100" type="image/avif")
                    source(srcset="images/kasuken.jpg?as=webp&width=100" type="image/webp")
                    source(srcset="images/kasuken.jpg?width=100" type="image/jpg")
                    img(src="images/kasuken.jpg?width=100" alt="kasuken icon")

            | &nbsp;&&nbsp;

            a(href="https://github.com/Th3Wall" class="sh__footer--user")
                span Th3Wall
                picture(class="sh__footer--user-icon")
                    source(srcset="images/th3wall.png?as=avif&width=100" type="image/avif")
                    source(srcset="images/th3wall.png?as=webp&width=100" type="image/webp")
                    source(srcset="images/th3wall.png?width=100" type="image/png")
                    img(src="images/th3wall.png?width=100" alt="th3wall icon")